
* {
    box-sizing: border-box;
}

body {
 background-color: #999999;
}
  
ul {
    padding: 0px;
    list-style-type: none;
}

.timeline-article {
    width: 600px;
    background-color: #F2F2F2;
    
}
/
/ .vertical-line {
    border-left: 10px solid #15507D;
    position: relative;
    left: 50%; 
    } 

.vertical-line {
    position: relative; 
}

.vertical-line::before {
    content: ''; 
    background-color: #15507D;
    width: 5px; 
    height: 100%; 
    position: absolute;
    left: 50%; 
    
}

.timeline-event:nth-child(even) {
    float: right;
}

.timeline-event:nth-child(odd) {
    clear: right; 
}


 

