
* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

body {
 background-color: #999999;
}
  
ul {
    padding: 0px;
    list-style-type: none;
}

.timeline-article {
    width: 600px;
    background-color: #F2F2F2;
    
}
/
/ .vertical-line {
    border-left: 10px solid #15507D;
    position: relative;
    left: 50%; 
    } 

.vertical-line {
    position: relative; 
}

.vertical-line::before {
    content: ''; 
    background-color: #15507D;
    width: 5px; 
    height: 100%; 
    position: absolute;
    left: 50%;   
}

/* created a psudeo element to help create vertical line */


.timeline-event:nth-child(even) {
    float: right;
}

.timeline-event:nth-child(odd) {
    clear: right; 
}
/*used clear property to ensure the element has float property sit after the elements  */

.timeline-event {
    display: flex;
    flex-direction: column;
}
 

.timeline-event:nth-child(even) {
    margin-left: auto;
}

@media (max-width: 1120px) {
    .timeline-event:nth-child(even) {
        margin-left: initial;
    }
}

.container::before {
    left: 2%;
}

.button :hover {
    background-color: red;
}