/* Applied to the entire document  */
* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

/* Applies background to body element */
body {
 background-color: #999999;
}


/* Removes default styling of UL element   */
ul {
    padding: 0px;
    list-style-type: none;
}

/* Creates vertial timeline out of a div */
.vertical-timeline{
    background-color: #15507D; 
    width: 5px;
    min-height: 150%;
    position: absolute;
    left: 50%;
}

/* Creates div that will contain icon */
.icon {
    width: 40px; 
    height: 40px; 
    border-radius: 70%; 
    background-color: #0B4E79;
    position: absolute; 
    color: #F2F2F2;
    text-align: center;
    padding-top: 5px;
}

/* Applies positioning to each individual icon container  */
.first {
    transform: translateX(-50%);
    top: 35px; 
}
.second {
    transform: translateX(-50%);
    top: 320px; 
}
.third {
    transform: translateX(-50%);
    top: 600px; 
}

.main {
    position: relative;     
}

.timeline-event {
    display: flex;
    flex-direction: column;
     
}

.timeline-article {
    width: 550px;
    background-color: #F2F2F2; 
    padding-left: 20px; 
    padding-bottom: 20px;   
    border-radius: 1.5%;
    position: relative;
    margin: 20px;
}

.cat-img{
    height: 100%;
    width: 100%;
    position: relative;
}


/* Floats the second container to the right side of page */
.timeline-event:nth-child(even) {
    float: right;
}

/*used clear property to ensure the element has float property sit after the elements  */
.timeline-event:nth-child(odd) {
    clear: right; 
}
 
button {
    height: 36px;
    width: 79px;
    background-color: #0B4E79;
    color: #ffff;
    border-radius: 10%;

}
time {
    background-color: #FB2545;
    width: 146px;
    height: 57px;
    color: #ffff;
    font-weight: bold;
    font-size: 20px;    
    text-align: center;
    position: absolute;
    right: 0;
}

/* Contains text time element  */
span {
    position: absolute;
    top: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%;  
}

body{
 @media (min-width: 768px)
}





/* Things to do:
1. Add hover 
2. add scroll line to last div
4. create triangle effect, and position
5. add image, title, & time elements, likely a second div on top of article
6. add media query  */